{% extends 'base.html' %} {%block body%}
<div id="body">
    <div>
        <h1>Blog</h1>
        <ul>
            <li>
                <img src="/static/images/blog-image1.png" alt="">
                <div>
                    <h1>Breast Cancer Symptoms and Signs</h1>
                    <h2>Have You Noticed Changes In Your Breasts Recently?</h2>
                    <p>Many breast cancer symptoms are invisible and not noticeable without a professional screening, but some symptoms can be caught early just by being proactive about your breast health. Keep your breast health in check with the Know the
                        Symptoms guide today.</p>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-symptoms-and-signs" class="more">keep Reading</a>
                </div>
            </li>
            <li>
                <img src="/static/images/blog-image2.png" alt="">
                <div>
                    <h1>Diagnosis</h1>
                    <p>Breast cancer can be diagnosed through multiple tests, including a mammogram, ultrasound, MRI and biopsy.</p>
                    <a href="/diagnosis" class="more">keep Reading</a>
                </div>
            </li>
            <li>
                <img src="/static/images/type.png" alt="">
                <div>
                    <h1>Types of Breast Cancer </h1>
                    <p>Types of breast cancer include ductal carcinoma in situ, invasive ductal carcinoma, inflammatory breast cancer, and metastatic breast cancer....</p>
                    <a href="https://www.nationalbreastcancer.org/types-of-breast-cancer/" class="more">keep Reading</a>
                </div>
            </li>
            <li>
                <img src="/static/images/blog-image4.png" alt="">
                <div>
                    <h1>FAQs</h1>
                    <p>Get answers to frequently asked questions about breast cancer.</p>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-faqs/" class="more">keep Reading</a>
                </div>
            </li>
        </ul>
    </div>
</div>
{%endblock%}