 {% extends 'base.html' %} {%block body%}

<div id="body">
    <div>
        <h1>Diagnosis</h1>
        <ul>
            <li>
                <img src="/static/images/mam.png" alt="">
                <div>
                    <h1>Diagnostic Mammogram</h1>
                    <h2>What Is The Difference Between A Diagnostic Mammogram And A Screening Mammogram?</h2>
                    <p>A mammogram is an x-ray of the breast. While screening mammograms are routinely administered to detect breast cancer in women who have no apparent symptoms, diagnostic mammograms are used after suspicious results on a screening mammogram
                        or after some signs of breast cancer alert the physician to check the tissue.</p>
                    <a href="https://www.nationalbreastcancer.org/diagnostic-mammogram" class="more">keep Reading</a>
                </div>
            </li>
            <li>
                <img src="/static/images/ultra.png" alt="">
                <div>
                    <h1>Ultrasound</h1>
                    <p>When a suspicious site is detected in your breast through a breast self-exam or on a screening mammogram, your doctor may request an ultrasound of the breast tissue. A breast ultrasound is a scan that uses penetrating sound waves that
                        do not affect or damage the tissue and cannot be heard by humans. The breast tissue deflects these waves causing echoes, which a computer uses to paint a picture of what’s going on inside the breast tissue (no radiation is involved).
                        A mass filled with liquid shows up differently than a solid mass.</p>
                    <p>Breast cancer can be diagnosed through multiple tests, including a mammogram, ultrasound, MRI and biopsy.</p>
                    <a href="https://www.nationalbreastcancer.org/breast-ultrasound" class="more">keep Reading</a>
                </div>
            </li>
            <li>
                <img src="/static/images/mri.png" alt="">
                <div>
                    <h1>MRI</h1>
                    <h2>How Does A Breast MRI Help To Diagnose Breast Cancer?</h2>
                    <p>During diagnostic examinations, it is helpful to get a variety of images and perspectives. If your initial exams are not conclusive, your doctor may recommend a breast MRI (magnetic resonance imaging) to assess the extent of the disease.
                        During a breast MRI, a magnet connected to a computer transmits magnetic energy and radio waves (not radiation) through the breast tissue. It scans the tissue, making detailed pictures of areas within the breast. These images help
                        the medical team distinguish between normal and diseased tissue..</p>
                    <a href="https://www.nationalbreastcancer.org/breast-mri" class="more">keep Reading</a>
                </div>
            </li>
            <li>
                <img src="/static/images/bio.png" alt="">
                <div>
                    <h1>Biopsy</h1>
                    <h2>What Is A Breast Biopsy?</h2>
                    <p>A breast biopsy is a test that removes tissue or sometimes fluid from the suspicious area. The removed cells are examined under a microscope and further tested to check for the presence of breast cancer. A biopsy is the only diagnostic
                        procedure that can definitely determine if the suspicious area is cancerous.</p>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-biopsy" class="more">keep Reading</a>
                </div>
            </li>
            <li>
                <img src="/static/images/lab.png" alt="">
                <div>
                    <h1>Lab Tests</h1>
                    <p>If you are diagnosed with breast cancer, your doctor may order additional lab tests to assist with prognosis. The two most common lab tests are the hormone receptor test and the HER2/neu test. Results from these tests can provide insight
                        into which cancer treatment options may be most effective for you.</p>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-lab-tests" class="more">keep Reading</a>
                </div>
            </li>
        </ul>
    </div>
</div>
{%endblock%}