 {% extends 'base.html' %} {%block body%}

<div id="body" class="home">
    <div class="header">
        <div>
            <h1>cancer survivor<br>Are heroes</h1>
            <span><a href="/contact" class="email">Enter Email</a><a href="/contact" class="signup">Sign Up</a></span>
            <img src="/static/images/collection.png" alt="">
        </div>
    </div>
    <div class="body">
        <div>
            <h1>Early Detection</h1>
            <p>According to the American Cancer Society, when breast cancer is detected early, and is in the localized stage, the 5-year relative survival rate is 99%. Early detection includes doing monthly breast self-exams, and scheduling regular clinical
                breast exams and mammograms.</p>
            <a href="https://www.nationalbreastcancer.org/early-detection-of-breast-cancer/" class="more">Read More</a>
        </div>
    </div>
</div>
</div>
{%endblock%}