{% extends 'base.html' %} {%block body%}

<div id="body">
    <div>
        <h1>Treatments</h1>
        <img src="/static/images/TREATMENTS.png" alt="">
        <h2>In general, there are five treatment options, and most treatment plans include a combination of the following: surgery, radiation, hormone therapy, chemotherapy, and targeted therapies. Some are local, targeting just the area around the tumor.
            Others are systemic, targeting your whole body with cancer fighting agents.</h2>
        <ul>
            <li>
                <img src="/static/images/doctor.png" alt="">
                <div>
                    <h1>Choosing Your Doctor</h1>
                    <h2>Your Doctor Patient Relationship</h2>
                    <P>From the time you are diagnosed with breast cancer, you will work with a team of cancer specialists that may include:<br> A medical oncologist<br> A surgical oncologist<br> A radiation oncologist<br> A care-manager/caseworker/nurse
                        navigator or patient navigator<br><br> Your healthcare team may also include an oncology nurse and a registered dietitian.</P>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-doctors" class="more">keep Reading</a>

                </div>
            </li>
            <li>
                <img src="/static/images/stand.png" alt="">
                <div>
                    <h1> Standard Treatment vs. Clinical Trials</h1>
                    <P>Before selecting your treatment plan, you should first understand the difference between standard treatment and clinical trials.<br><br>

                        <ul style="font-size: large; color:aliceblue">
                            <li>Breast cancer standard treatments are methods that experts agree are appropriate, accepted, and widely used. These standard procedures have proven useful in fighting breast cancer in the past.</li><br>
                            <li>A breast cancer clinical trial, on the other hand, is an approved research study that some doctors believe has a strong potential to improve standard treatments. When clinical trials demonstrate better results than the standard,
                                that new treatment becomes the standard. Remember, all our current standards were clinical trials at one time.</li>
                        </ul>
                    </P>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-clinical-trials" class="more">keep Reading</a>

                </div>
            </li>
            <li>
                <img src="/static/images/meta.png" alt="">
                <div>
                    <h1>Metastatic Breast Cancer Trial Search</h1>
                    <P>Find metastatic breast cancer trials that are right for you. Simply provide your breast cancer type, sites with current evidence of disease, gender, birth year, and zip code to get started.</P>
                    <a href="https://www.nationalbreastcancer.org/about-breast-cancer/metastatic-trial-search" class="more">keep Reading</a>

                </div>
            </li>
            <li>
                <img src="/static/images/chemo.png" alt="">
                <div>
                    <h1>Chemotherapy</h1>
                    <h2>What Is Chemotherapy?</h2>
                    <P>Chemotherapy is a treatment method that uses a combination of drugs to either destroy cancer cells or slow down the growth of cancer cells
                        <ul style="font-size: large; color:aliceblue">
                            <li>Cytotoxic drugs (meaning “toxic to cells”) are usually given orally or through a vein (intravenously or “through the bloodstream”).</li>
                            <li>Chemotherapy is a systemic therapy, meaning that the drugs travel in the bloodstream throughout the entire body.</li>
                        </ul>.</P>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-chemotherapy" class="more">keep Reading</a>

                </div>
            </li>
            <li>
                <img src="/static/images/rid.png" alt="">
                <div>
                    <h1>Radiation Therapy</h1>
                    <h2>What Is Radiation Therapy And How Does It Work?</h2>
                    <P>Radiation therapy (also called radiotherapy) uses high-energy rays to kill cancer cells. It affects cells only in the part of the body that is treated with the radiation. Breast cancer radiation therapy may be used to destroy any remaining
                        mutated cells that remain in the breast or armpit area after surgery.</P>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-radiation-therapy" class="more">keep Reading</a>

                </div>
            </li>
            <li>
                <div>
                    <a href="https://www.nationalbreastcancer.org/breast-cancer-treatment/" class="more">more_Treatment</a>
                </div>

            </li>

        </ul>


    </div>
</div>
{%endblock%}